{% createphp resource as="rdf" noautotag %}
<div {{ createphp_attributes(rdf) }}>
    <h{{resource.niv}} id="{{ resource.title|slugify }} {{ createphp_attributes( rdf.title ) }}>
        {{ createphp_content( rdf.title ) }}
    </h{{resource.niv}}>
</div>
{% endcreatephp %}
