{% createphp resource as="rdf" noautotag %}
<div {{ createphp_attributes(rdf) }}>
    <div {{ createphp_attributes( rdf.title ) }}>
        <h{{resource.niv}} id="{{ resource.title|slugify }}">
            {{ createphp_content( rdf.title ) }}
        </h{{resource.niv}}>
    </div>
</div>
{% endcreatephp %}
